.form-box {
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 4px 7px 16px -9px #000000;
    border-radius: 8px;
    border: 1px solid #8A8A8A;
    text-align: center;
}

.form-title {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #8A8A8A;
    font-size: 24px;
    font-weight: bold;
}

.form-body {
    margin: 20px 15%;
}

.form-field {
    margin-bottom: 15px;
}

.field-name {
    margin-bottom: 7px;
}

.form-btn {
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 6px;
    background-color: #00897B;
    box-shadow: 2px 4px 16px -9px #000000;
}

.form-btn:hover {
    background-color: #1D6D65;
}

.form-advice {
    font-size: 17px;
}

.form-advice a {
    color: #1D6D65;
}

.error-line {
    display: none;
    color: white;
    background-color: #F93154;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
}