.back-button {
    font-size: 16px;
    padding: 8px;
    background-color: black;
    color: white;
}

.back-button:hover {
    background-color: #292929;
}

.range-title {
    margin-bottom: 4px;
}

.card-tile-grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.card-tile-creator {
    position: relative;
    padding: 7px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 2px 4px 16px -9px #000000;
    text-align: center;
    border: 1px solid #00897B;
    background-color: #4EBAAA;
    color: white;
    display: flex;
    justify-content: space-between;
}

#card-tile-creator {
    pointer-events: visible;
}

.card-tile-title {
    margin-bottom: 5px;
}

.textarea {
    font-size: 18px;
    height: 32px;
    max-height: 54px;
    border-radius: 6px;
    resize: none;
    white-space: normal;
    border: 1px solid #00897B;
    outline-color: #00C1FE;
    padding: 5px;
}

.textarea::-webkit-scrollbar {
    width: 0;
}

.card-tile-creator-textarea {
    width: 475px;
}

.add-new-card-buttons, .delete-card-button-wrapper {
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
    position: absolute;
    right: -40px;
}

.add-new-card-buttons button {
    margin-bottom: 5px;
}

.add-new-card-buttons button:last-child {
    padding-left: 12px;
    padding-right: 12px;
}

.card-tile > .add-new-card-buttons {
    top: -2px;
}

.card-tile > .delete-card-button-wrapper {
    top: -3px;
}

.card-tile {
    pointer-events: visible;
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 4px 16px -9px #000000;
    border: 1px solid #00897B;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-tile:hover .delete-card-button-wrapper {
    visibility: visible;
    opacity: 1;
}

.card-tile:focus-within .textarea {
    outline-style: auto;
}

.card-tile-textarea {
    width: 465px;
    border: none;
    transition: background-color .5s;
}

.card-tile-textarea:hover {
    background-color: #EBEDEF;
}

.delete-card-button-wrapper {
    width: 60px;
    height: 78px;
    right: -55px;
    top: 0;
}

.delete-card-button-wrapper > .btn {
    margin-top: 21px;
}

.complexity-box {
    position: relative;
}

.complexity-box #complexity-range-value {
    position: absolute;
    left: -15px;
    bottom: 2px;
}

.save-complexity-buttons {
    transition: visibility 0s, opacity 0.25s linear;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -30px;
    top: 5px;
}

.save-complexity-buttons > .btn {
    padding: 2px 4px;
}

.save-complexity-buttons > .btn:last-child {
    padding-right: 6px;
    padding-left: 6px;
}

.card-tile-bulge {
    position: absolute;
    padding: inherit;
    border: inherit;
    /* Left and bottom shadow because it overflows box on the right side */
    box-shadow: -4px 4px 16px -10px #000000;

    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    /* Depends on width */
    left: -72px;
    /* Depends on max content in card-tile */
    height: 42px;
    width: 40px;
    background-color: white;
}

.card-tier-tile {
    position: absolute;
    /* Need more convenience way */
    margin-top: 4px;
    margin-left: 1px;

    padding: 3px;
    border: 1px solid #00897B;
    border-radius: 6px;

    width: 30px;
    height: 24px;
    font-size: 24px;
}

.card-level-valve-wrapper {
    background-color: white;
    width: 30px;
    height: 24px;
}

.card-level-valve {
    right: 0;
    height: inherit;
}

.card-level-valve-1 {
    width: 80%;
}

.card-level-valve-2 {
    width: 60%;
}

.card-level-valve-3 {
    width: 40%;
}

.card-level-valve-4 {
    width: 20%;
}

.card-level-valve-5 {
    /* stub */
}

.question-answer-search-input {
    width: 270px;
}
