body, textarea {
    font-family: sans-serif;
}

select {
    background-color: white;
}

/* Buttons */
.btn {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 2px 4px 16px -9px #000000;
}

.primary-btn {
    background-color: #00897B;
}

.primary-btn:hover {
    background-color: #1D6D65;
}

.secondary-btn {
    background-color: #4EBAAA;
}

.secondary-btn:hover {
    background-color: #388F82;
}

.gray-btn {
    background-color: white;
    box-shadow: none;
}

.gray-btn:hover {
    background-color: #F4F5F6;
}

.more-btn {
    background-color: white;
    display: block;
    color: black;
    font-size: 18px;
    padding: 5px 8px;
    text-align: center;
    box-shadow: none;
}

.more-btn:hover {
    background-color: #F4F5F6;
}

.more-btn:hover + .ctx-menu {
    display: inline-block;
}

/* Inputs */
.input {
    font-size: 18px;
    padding: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset, 0 -1px 0 rgba(0, 0, 0, .05) inset;
    border: 1px solid #8A8A8A;
    border-radius: 4px;
}

.input:hover {
    box-shadow: 0 0 0 1px #66FFE8 inset, 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #66FFE8 inset, 0 1px 2px rgba(0, 0, 0, .2) inset, 0 0 4px rgba(35, 146, 243, .5);
    transition: .2s linear;
}

/* Selects */
.select {
    color: gray;
    font-size: 18px;
    padding: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset, 0 -1px 0 rgba(0, 0, 0, .05) inset;
    border: 1px solid #8A8A8A;
    border-radius: 4px;
}

.select:hover {
    box-shadow: 0 0 0 1px #66FFE8 inset, 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #66FFE8 inset, 0 1px 2px rgba(0, 0, 0, .2) inset, 0 0 4px rgba(35, 146, 243, .5);
    transition: .2s linear;
}

.select > option {
    border: none;
}

/* Navbar */
.nav {
    background-color: black;
    box-shadow: 4px 7px 16px -9px #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 816px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > div {
    text-align: center;
    color: white;
}

/* Context menu */
.ctx-menu {
    display: none;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #8A8A8A;
    box-shadow: 4px 7px 16px -9px #000000;
}

.ctx-menu:hover {
    display: inline-block;
}

.ctx-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ctx-menu li {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.ctx-menu > ul li:first-child:last-child > button {
    border-radius: 4px 4px 4px 4px;
}

.ctx-menu > ul li:first-child > button {
    border-radius: 4px 4px 0 0;
}

.ctx-menu > ul li:last-child > button {
    border-radius: 0 0 4px 4px;
    border-bottom: none;
}

.ctx-menu button {
    text-align: left;
    border: none;
    border-bottom: 1px solid #8A8A8A;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 5px 10px;
}

.ctx-menu button:hover {
    background-color: #D1D1D1;
}

/* Colors */
#danger {
    background-color: #E41E65;
    color: white;
}

#danger:hover {
    background-color: #B6114D;
}

#light {
    background-color: white;
    color: black;
}

#light:hover {
    background-color: #D1D1D1;
}

#success {
    background-color: #16CD8B;
    color: white;
}

#success:hover {
    background-color: #12AB73;
}

#primary {
    background-color: #00897B;
}

#primary:hover {
    background-color: #1D6D65;
}

#secondary {
    background-color: #00897B;
    color: white;
}

#secondary:hover {
    background-color: #137C72;
}

.active {
    border: 2px solid;
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        border-color: #00897B;
    }
    50% {
        border-color: #32FFDB;
    }
    100% {
        border-color: #00897B;
    }
}

/* Overlay [Modal window] */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
}

.popup {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    min-width: min-content;
    max-width: max-content;
    padding: 15px 20px;
    border: 1px solid #666;
    background-color: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}

.overlay-body {
    white-space: pre-wrap;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.25em;
}

.overlay-buttons {
    display: flex;
    justify-content: center;
}

.overlay-buttons > .btn {
    margin-left: 20px;
    margin-right: 20px;
}

#overlay .popup p.zag {
    text-align: center;
    margin: 20px 0 10px;
    padding: 0 0 6px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

/* Valve effect [Hack for signal icon] */
.valve-effect-wrapper {
    position: relative;
    z-index: 4;
}

.valve-effect-object {
    position: absolute;
    z-index: 1;
}

.valve {
    position: absolute;
    z-index: 2;
    background-color: inherit;
}

/* Search bar */
.search-bar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    position: relative;
    display: inline-block;
    background-color: #00897B;
    box-shadow: 4px 7px 16px -9px #000000;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 30px;
}

.search > .btn {
    border: 2px solid #00897B;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
    padding: 6px;
    box-shadow: none;
}

.search > input, select {
    display: table-cell;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

.reset-search-btn {
    position: absolute;
    top: 6px;
    right: -40px;
    transition: visibility 0s, opacity 0.25s linear;
    opacity: 0;
    visibility: hidden;
}

/* Disable mode for all elements */
.disabled {
    opacity: 0.8;
    user-select: none;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #bdbdbd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #4EBAAA;
    border-radius: 20px;
}

.table-box {
    max-height: 600px;
    overflow: auto;
    padding-right: 5px;
}