.card-n-buttons-box {
    width: calc(865px * 0.95);
    height: calc(376px * 0.95);
    position: absolute;
    top: 45%;
    bottom: 55%;
    left: 0;
    right: 0;
    margin: auto;
}

.card-box {
    width: calc(865px * 0.95);
    height: calc(376px * 0.95);
    border-radius: 5px;
    border: 1px solid #8A8A8A;
    box-shadow: 4px 7px 16px -9px #000000;
}

.card-box-half {
    padding: 10px 3px 10px 10px;
    font-size: 30px;
}

.card-box-text-wrapper {
    height: 100%;
    overflow-y: auto;
}

.card-box > .card-box-half:first-child {
    border-bottom: 3px solid #8A8A8A;
    /* height depends on padding and border-bottom (50% - padding * 2 - border-bottom) */
    height: calc(50% - 20px - 3px);
}

.card-box > .card-box-half:last-child {
    /* height depends on padding (50% - padding * 2) */
    height: calc(50% - 20px);
}

.card-box-text {
    display: table;
    height: 100%;
    width: 100%;
    word-break: break-all;
}

.card-box-text > div, button {
    padding-right: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#back-btn {
    font-size: 25px;
    margin-top: 15px;
    margin-left: 15px;
}

#show-answer-btn {
    font-size: 50px;
    color: #00897B;
}

.btn-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.learn-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    font-size: 60px;
    color: white;
    border-radius: 50%;
}

.learn-button > output {
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

#correct-answer-btn {
    background-color: #16CD8B;
}

#correct-answer-btn:hover {
    background-color: #009b5d;
}

#bad-answer-btn {
    background-color: #E41E65;
}

#bad-answer-btn:hover {
    background-color: #ac003b;
}
