.cardset-tile-box {
    height: 220px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #8A8A8A;
    box-shadow: 4px 7px 16px -9px #000000;
    padding: 15px;
    margin-bottom: 30px;
}

.cardset-tile-box .hover-btn {
    transition: opacity .35s ease;
    opacity: 0;
}

.cardset-tile-box:hover .hover-btn {
    opacity: 1;
}

.cardset-tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardset-tile-title {
    padding-bottom: 0;
    font-family: inherit;
    text-align: center;
    font-size: 1.25rem;
    white-space: normal;
    cursor: text;
    border-radius: 8px;
    border: none;
    transition: background-color .5s;
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-color: #00C1FE;
    max-height: 82px;
    vertical-align: top;
    margin: 0;
    overflow: hidden;
}

.cardset-tile-title:hover {
    background-color: #EBEDEF;
}

.cardset-tile-title-buttons-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.cardset-tile-title-buttons {
    margin-top: 3px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.25s linear;
    position: absolute;
}

.cardset-tile-title-buttons > button {
    margin: 4px;
}

.cardset-tile-title:hover + .cardset-tile-title-buttons {
    background-color: #EBEDEF;
}

.cardset-tile-title:focus {
    border: 1px solid #94E6D9;
}

.cardset-tile-header {
    display: flex;
    justify-content: space-around;
    font-size: 1.00rem;
    text-align: center;
}

.cardset-tile-buttons > div {
    display: flex;
    justify-content: space-between;
}

.cardset-tile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: 816px;
}

.cardset-tile-grid-el {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.cardset-name-search-input {
    width: 300px;
}

/* Cardset's progress bar styles */
.cardset-progress-output {
    margin-bottom: 10px;
}

.cardset-progress-bar {
    width: 100%;
    height: 6px;
    background: #e1e4e8;
    border-radius: 3px;
    border: 1px solid #8A8A8A;
}

.cardset-progress-bar-valve {
    border-radius: inherit;
    display: block;
    width: 0;
    height: 100%;
    background: #4EBAAA;
}

.learn-session-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}


.learn-session-table tr {
    margin-top: 10px;
    border-bottom: 2px solid #E3E3E3;
    border-radius: 3px;
}

.learn-session-table td {
    padding-bottom: 1em;
}

.learn-session-table td:nth-child(1),td:nth-child(2) {
    padding: 0 15px;
}

.learn-session-table td:nth-child(3) {
    padding: 0 70px;
}

.learn-session-table td:nth-child(4),td:nth-child(5) {
    padding: 0 85px;
}

.learn-session-table td:nth-child(4) {
    color: #16CD8B;
}

.learn-session-table td:nth-child(5) {
    color: #E41E65;
}
